.chart {
    margin: 2em 20em 0em 20em;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgb(210, 168, 250);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
  }