.filter-container{
    display: flex !important;
    justify-content: space-between;
    margin: 2em 20em 0em 20em;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(238, 212, 212);
}

.filter-container #demo-simple-select-filled{
    width: 5em;
    font-size: 18px;
}

.filter-container #demo-simple-select-filled-label{
    font-size: 23px;
}